html{
    padding: 0;
    margin: 0;
    overflow: auto;
    scroll-behavior: smooth;
} 
   table,td{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 19px;
    animation: t 2s;
   }
   @media (max-width:700px){
    table,td{
        font-size: 16px;
    }
    .media{
         box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.699);
    }
    #work-heading{
        font-size: 21px;
    }
   }
   #load{
       position: fixed;
       width: 100%;
      display: flex;
      justify-content: center;
       align-items: center;
       top: 0;
       left: 0;
       height: 100vh;
       animation: load 4s;
       background-color: rgb(0, 0, 0);
       z-index: 999999;
   }
   #gif {
    background-image: url('images/animatedabout2.gif');
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    bottom: -140px;
    right: -950px;
    background-repeat: no-repeat;
    animation: g 20s ease-in-out 2s infinite normal forwards running;
    }
    @keyframes g {
        0%{
            background-image: url('images/animatedabout2.gif');
        }
        10%{
            background-image: url('images/animatedabout2.gif');
        }
        20%{
            background-image: url('images/animatedabout2.gif');
        }
        40%{
            background-image: url('images/animatedabout3.gif');
        }
        50%{
            background-image: url('images/animatedabout3.gif');
        }
        60%{
            background-image: url('images/animatedabout3.gif');
        }
        70%{
            background-image: url('images/animatedabout4.gif');
        }
        80%{
            background-image: url('images/animatedabout4.gif');
        }
        90%{
            background-image: url('images/animatedabout4.gif');
        }

    }
    @media (max-width:1200px) {
        #gif{
            display: none;
        }
    }
    .gif{
        animation: g2 1.5s;
    }
    @keyframes g2 {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .cover {
        height: 50%;
        background-color: #111;
        color: white;
        overflow-x: hidden;
      }
      
      h1, h2 {
        font-weight: 400;
        max-width: none;
      }
      
      .comparisonSection {
        position: relative;
        padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
      }
      .comparisonImage {
        width: 100%;
        height: 100%;
      }
      .afterImage {
        position: absolute;
        overflow: hidden;
        top: 0;
        transform: translate(100%, 0px);
      }
      .beforeImage img{
        width: 100%;
        height: 100%;
      }
      .afterImage img {
        transform: translate(-100%, 0px);
      }
      .comparisonImage img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }
      .c2{
        margin-top: 200px;
      }

      body{
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        background-color: #000000;
      } 
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #de156c; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #de156c; 
}
      .back1{
        background: url('images/try3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        width: 100%;
      }
      @media (max-width:600px) {
        #preloader-resize{
          max-width: 150px;
        }
        .column{
          height: 60px;
          padding-right: 0;
       }
       .scontainer{
        padding-left: 1px;
        padding-right: 1px;
        margin-bottom: 10px;
       }
      }
       #load1{
       position: fixed;
       width: 100%;
      display: flex;
      justify-content: center;
       align-items: center;
       top: 0;
       left: 0;
       height: 100vh;
       animation: load 4s;
       background-color: #191819;
       z-index: 999999;
   }
   #vid-back{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
   }
   .social-media{
    position: absolute;
    bottom: 0;
    width: 100%;
    top: 75px;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
   }
   #social-row{
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
#gmail,#linkedin,#watsapp,#github,#twitter,#facebook{
    border-radius: 25px;
    transform: scale(1);
    transition-duration: 1s;
    overflow: hidden;
    width: 40%;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.363);
    margin-bottom: 10px;
}
@media (max-width:700px) {
    #gmail,#linkedin,#watsapp,#github,#twitter,#facebook{
        border-radius: 25px;
        transform: scale(1);
        transition-duration: 1s;
        overflow: hidden;
        width: 190px;
        box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.36);
    }   
}
#gmail:hover{
    transform: scale(1.1);
    border-radius: 0px;
}
#linkedin:hover{
    transform: scale(1.1);
    border-radius: 0px;
}
#watsapp:hover{
    transform: scale(1.1);
    border-radius: 0px;
}
#github:hover{
    transform: scale(1.1);
    border-radius: 0px;
}
#twitter:hover{
    transform: scale(1.1);
    border-radius: 0px;
}
#facebook:hover{
    transform: scale(1.1);
    border-radius: 0px;
}
 #nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    border-bottom: .2px solid rgba(255, 0, 170, 0.5);
    animation: nav-under 7s linear 0s infinite normal forwards running;
 } 
 @keyframes nav-under {
  0%{
    border-bottom: .2px solid #ff00c35d;
  }
  450%{
    border-bottom: .2px solid #01b2e376;
  }
  80%{
    border-bottom: .2px solid #25ce7c90;
  }
 }
 #jumbo{
   position: absolute;
   top: 25vh;
   right: auto;
   right: auto;
   background: transparent;
   border-radius: 5px;
   box-shadow: 2px 2px 28px rgba(0, 0, 0, 0.196);
   background: rgba(0, 0, 0, 0.225);  
   font-family: 'Roboto', sans-serif;
   }
   @media (max-width:700px){
    #jumbo{
        top: 16vh;
        box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.304);
        background: rgba(0, 0, 0, 0.045);
    }
   }
   .about1,.skills,.courses,.certificate,.works1,.footer-text,.T-skills{
    display: inline-block;
    padding-top: 8px;
    border-top: 3px solid #cf1767;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5rem;
    font-weight: 600;
    line-height: 1.17rem;
    text-transform: uppercase;
    font-size: 1rem;
   }
   .certificate1{
    display: inline-block;
    padding-top: 8px;
    margin: 0;
    border-top: 3px solid #cf1767;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5rem;
    font-weight: 600;
    line-height: 1.17rem;
    text-transform: uppercase;
    font-size: 12px;
   }
   .home,.about,.works{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .3rem;
   }
   .education1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-bottom: 3px solid #cf1767;
    width: 90px;
    padding-bottom: 3px;
   }
   .education2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-bottom: 3px solid #cf1767;
    width: 65px;
    padding-bottom: 3px;
   }
   .education3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-bottom: 3px solid #cf1767;
    width: 110px;
    padding-left: 3px;
    padding-bottom: 3px;
   }
   .skills-back{
        background: url('images/wheel-2000.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        width: 100%;
   }
   .section2{
    background: #191819b9;
    height: 100%;
   }
   .num{
    font-size: 6.2rem; 
    font-family: 'Roboto', sans-serif; 
    color: #de156c;
   }
   .company{
    padding: 12px;
    margin-top: -8px;
    margin-bottom: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
   }
  progress {
  position: fixed;
  top: 55px;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  border: none;
  background: transparent;
  z-index: 999999999999;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #ab0d86,#01b3e3,#25ce7b,#fdc741,#ff6b01,#ac10b8);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #9d137d,#01b3e3,#25ce7b,#fdc741,#ff6b01,#ac10b8);
  background-attachment: fixed;
}
@media (max-width:990px) {
  progress::-webkit-progress-value {
  display: none;
} 
progress::-moz-progress-bar {
  display: none;
}
}
.horizSlider {
  position: relative;
  white-space: nowrap;
  overflow: auto;
}
@media (max-width:700px) {
  .horizSlider{
    width: 100vw;
  }
}
.horizSlider .slide {
  display: inline-block;
  position: relative;
}
.slideText {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #ff00c3;
  text-shadow: 1px 1px 3px black;
  z-index: 1;
  font-size: 3em;
  font-weight: 400;
}
.slideImage {
  transform-origin: bottom left;
}
  #cv{
    width: 400px;
    padding: 5px;
    margin: 8px 0px;
    background-color: #de156c;
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    letter-spacing: .1rem;
    transform: scale(1);
    transition-duration: 2s;
  }
  @media (max-width:700px) {
    #cv{
      width: 300px;
      margin-top: 25px;
    }
  }
  #cv:hover{
    transform: scale(1);
    border:1px solid black;
    background-color: #de156c;
  }
  .workback{
    background: url('images/workbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    color: white;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .section3{
    background: rgba(0, 0, 0, 0.532);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  @media (max-width:1143px) {
    #mail{
    font-size: 20px;
    letter-spacing: 0px;
  }
  progress{
    display: none;
  }
  #te{
   font-size: 20px; 
  } 
  }
  #lse{
    border-bottom: 1px solid rgb(96, 93, 93);
  }
  #lse:hover{
    border-bottom: 1px solid white;
  }
  #parallel-container{
    background: linear-gradient(to top,rgb(0, 0, 0),rgba(0, 0, 0, 0.796));
    height: 100vh;
    width: 100%;
    margin: 0;
  }
  #star{
    position: absolute;
    width: 100%;
  }
  #moon{
    mix-blend-mode: screen;
    position: absolute;
    width: 100%;
  }
  #snow-hill{
    position: absolute;
    width: 100%;
  }
  #front-hill{
    position: absolute;
    width: 100%;
  }
  #course{
    position: absolute;
  }
  .contain{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
  }
  #alert{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999999;
  }
  @media (min-width:1143px) {
    #alert{
      display: none !important;
    }
    .bg-alert{
      display: none;
    }
  }
  .bg-alert{
    background: #000000;
    width: 100%;
    height: 100vh;
    z-index: 999999999999;
  }
  .rs{
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.325);
    border-radius: 8px;
    text-shadow: none;
   }
   .rs1{
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.325);
    border-radius: 8px;
    text-shadow: none;
   }
 .container-edu{
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .info{
  height: 100%;
  width: 35px;
  margin-top: -5px;
 }
 .card-body{
  background: url('ima/w2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}
 #accordianContainer{
  box-shadow: 2px 2px 16px black;
 }
 .card-header{
  background: url('ima/w2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 }
 .color{
  color: rgb(234, 238, 237);
  font-family: 'Roboto', sans-serif;
  letter-spacing: .2rem;
  text-transform: uppercase;
 } 
 .color:hover{
  color: #ee00ff;
 }
 .card{
  transform: scale(1);
  transition-duration: .6s;
  animation: ani 2s linear 0s infinite normal forwards running; 
}
#port{
  font-family: 'Roboto', sans-serif;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: rgb(217, 207, 207);
  background-repeat: no;
}
.bb:hover{
  color: rgb(255, 0, 255);
}

